*{
  margin: 0;
  padding: 0;
}

body{
  background: color #f4f4f4;
  color: #555555;

  font: normal 16px Arial, Helvetica, sans-serif;

  line-height: 1.6em;
  margin:0;
}

.container{
  width: 80%;
  margin: auto;
}

.box-1{
  background-color: #333;
  color:white;

  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
 /* same */
 border: 5px palevioletred dotted;
 border-width: 6px;
 border-top-style: dotted;

 padding: 20px;
 
 margin-top: 20px;
 margin: 20px 0;
}

.box-1 h1{
  font-family: tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  line-height: 2em;
  margin-top: -10px;
  letter-spacing: 0.2em;
  word-spacing: 0.4em;
}

.box-2{
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories{
  border: 1px #ccc solid;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories ul{
  list-style-type: none;
  
}